<p>
  {{message}}
</p>
<div *ngIf="profile;">
  <h1>Your profile</h1>
  <div>
    <p>Your name : </p>
    <p>{{ name }}</p>
    <p>Your email : </p>
    <p>{{ email }}</p>
    <button class="btn btn-primary" (click)="editOnClick()">Edit profile</button>
  </div>
</div>

<div *ngIf="check == true">
  <form #userEdit="ngForm" (ngSubmit) = "editProfile(userEdit.value)">
    <div class="form-group">
      <label for = "name">Name : </label><br>
      <input type="text" name ="name" id ="name" placeholder={{name}} ngModel>
    </div>
    <div class="form-group">
      <label for = "email">Email : </label><br>
      <input type="text" name ="email" id ="email" placeholder={{email}} ngModel>
    </div>
    <div class="form-group">
      <label for = "password">Password : </label><br>
      <input type="password" name ="password" id ="password" placeholder="password" ngModel>
    </div>
    <div class="form-group">
      <label for = "password_confirmation">Password confirmation: </label><br>
      <input type="password" name ="password_confirmation" id ="password_confirmation" placeholder="password" ngModel>
    </div>
    <input type="submit" value="submit" class="btn btn-primary">
  </form>
</div>
