<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="../../../../favicon.ico">
  <link href="https://fonts.googleapis.com/css?family=Cute+Font" rel="stylesheet">
  <title>MicroBloggos</title>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

  <!-- Latest compiled JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" routerLink="/home" routerLinkActive="active">MicroBloggos</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a class="nav-link" routerLink="/home" routerLinkActive="active">Profile feed</a></li>
      <li><a class="nav-link" routerLink="/friends" routerLinkActive="active">Friends feed</a></li>
      <li><a class="nav-link" routerLink="/members" routerLinkActive="active">Members</a></li>
      <li><a class="nav-link" routerLink="/profile" routerLinkActive="active">Profile</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a class="nav-link" routerLink="/login" routerLinkActive="active"><span class="glyphicon glyphicon-user"></span> Login</a></li>
      <li><a class="nav-link" routerLink="" routerLinkActive="active"><span class="glyphicon glyphicon-log-in"></span> Register</a></li>
      <button class="btn btn-danger navbar-btn" (click)="logoutOnClick()">Logout</button>

    </ul>
  </div>
</nav>


<main role="main" class="container">
  <div style="padding-top: 60px">
    <router-outlet></router-outlet>
  </div>
</main><!-- /.container -->
<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="../../../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
<script src="../../../../assets/js/vendor/popper.min.js"></script>
<script src="../../../../dist/js/bootstrap.min.js"></script>
</body>
</html>
